/* common styles */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
input {
  outline: 0 !important;
}

.link {
  text-decoration: none;
  color: inherit;
}
.link:hover,
.link:focus {
  cursor: pointer;
  font-weight: 800;
  transition: var(--transition);
}

.list {
  list-style: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

/* ================================= */

.form-registration {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 10% auto;
  background-color: #3a6fc9;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 0px #7d96c0;
}
.form-registration h1 {
  margin-left: auto;
  padding: 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}
.input-container {
  padding: 0 20px 20px;
}
.reg-input {
  width: 100%;
  padding: 6px 12px;
  margin-bottom: 25px;
  border: 1px solid #dcdcdc;
  border-radius: 25px;
}
input:hover {
  box-shadow: 2px 2px 4px 0px #7d96c0;
}
input:focus::-webkit-input-placeholder {
  color: #888888;
}
input:focus:-moz-placeholder {
  color: #888888;
}
input:focus::-moz-placeholder {
  color: #888888;
}
input:focus::-ms-input-placeholder {
  color: #888888;
}

::-webkit-input-placeholder {
  color: #bfbfbf;
}
:-moz-placeholder {
  color: #bfbfbf;
}
::-moz-placeholder {
  color: #bfbfbf;
}
:-ms-input-placeholder {
  color: #bfbfbf;
}

.btn {
  font-weight: bold;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  padding: 6px 20px;
  background: #1a385e;
  border: none;
  border-radius: 25px;
  float: right;
  cursor: pointer;
}

.btn:focus {
  -webkit-box-shadow: 2px 2px 4px 0px #7d96c0;

  -moz-box-shadow: 2px 2px 4px 0px #7d96c0;

  box-shadow: 2px 2px 4px 0px #7d96c0;
}
